openapi: '3.0.0'
info:
  title: iReceptorPlus Statistics API
  version: 0.3.0
  description: >
    Statistics API for the iReceptor Plus platform.
  contact:
    name: iReceptor Plus
    url: 'https://www.ireceptor-plus.com'
    email: info@ireceptor-plus.com

servers:
  - url: https://vdjserver.org/irplus/v1/stats
    description: VDJServer Production server
    variables:
      basePath:
        default: /irplus/v1/stats
  - url: https://vdj-staging.tacc.utexas.edu/irplus/v1/stats
    description: VDJServer Staging server
    variables:
      basePath:
        default: /irplus/v1/stats

components:
  schemas:
    info_object:
      type: object
      description: Provides information about the service and API
      properties:
        title:
          type: string
        version:
          type: string
        description:
          type: string
        contact: 
          type: object
          properties:
            name:
              type: string
            url:
              type: string
            email:
              type: string
        api:
          type: object
          properties:
            title:
              type: string
            version:
              type: string
            description:
              type: string
            contact: 
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                email:
                  type: string

    count_object:
      type: object
      description: Key-value pair count representation with total count
      properties:
        total_count:
          type: integer
        counts:
          type: object
          additionalProperties:
            type: integer

    count_array:
      type: array
      description: Array-based count representation
      items: 
        type: object
        properties:
          key:
            type: integer
          count:
            type: integer

  responses:
    error_response:
      description: General error response.
      content:
        application/json:
          schema:
            type: object
            properties:
              Info:
                $ref: '#/components/schemas/info_object'
              Message:
                type: string
                description: Detail about the error

    count_object_response:
      description: Response providing a count object
      content:
        application/json:
          schema:
            type: object
            properties:
              Info:
                $ref: '#/components/schemas/info_object'
              Result:
                $ref: '#/components/schemas/count_object'

    count_array_response:
      description: Response providing a count array
      content:
        application/json:
          schema:
            type: object
            properties:
              Info:
                $ref: '#/components/schemas/info_object'
              Result:
                $ref: '#/components/schemas/count_array'

paths:
  /:
    get:
      description: Service heartbeat.
      operationId: get_service_status
      responses:
        '200':
          description: Service is up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string

  /rearrangement/count:
    post:
      description: Count of rearrangements for repertoire(s)
      operationId: rearrangement_count
      tags:
        - rearrangements
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token: 
                  type: string
                repertoires:
                  nullable: true
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/responses/count_object_response'
        default:
          description: Error response.
          content: 
            application/json:
              schema:
                $ref: '#/components/responses/error_response'

  /rearrangement/junction_length:
    post:
      description: >
        Perform a junction length distribution analysis for the rearrangements that belong to the specified repertoire (and/or sample_processing and data processing entity).
      operationId: rearrangement_junction_length
      tags:
        - rearrangements
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token: 
                  type: string
                repertoire_id:
                  type: string
                sample_processing_id:
                  type: string
                  nullable: true
                data_processing_id:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/responses/count_array_response'
        default:
          description: Error response.
          content: 
            application/json:
              schema:
                $ref: '#/components/responses/error_response'

  /rearrangement/gene_usage:
    post:
      description: >
        Perform a gene usage analysis for the rearrangementes that belong to the specified repertoire (and/or sample_processing and data_processing entity).
      operationId: rearrangement_gene_usage
      tags:
        - rearrangements
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token: 
                  type: string
                repertoire_id:
                  type: string
                sample_processing_id:
                  type: string
                  nullable: true
                data_processing_id:
                  type: string
                  nullable: true
                fields:
                  type: array
                  items:
                    type: string
                    enum:
                      - v_subgroup
                      - v_gene
                      - v_call
                      - d_subgroup
                      - d_gene
                      - d_call
                      - j_subgroup
                      - j_gene
                      - j_call
                      - c_subgroup
                      - c_gene
                      - c_call
                  description: The types of gene usage stats requested (one of V,D, or J subgroup, gene, or allele)
                  example:
                    - v_subgroup
                    - v_gene
                    - d_call
                    - c_call
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/responses/count_object_response'
        default:
          description: Error response.
          content: 
            application/json:
              schema:
                $ref: '#/components/responses/error_response'

  /clone/count:
    post:
      description: Count of clones for repertoire(s)
      operationId: clone_count
      tags:
        - clones
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token: 
                  type: string
                repertoires:
                  nullable: true
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/responses/count_object_response'
        default:
          description: Error response.
          content: 
            application/json:
              schema:
                $ref: '#/components/responses/error_response'

  /clone/junction_length:
    post:
      description: >
        Perform a junction length distribution analysis for the clones that belong to the specified repertoire (and/or sample_processing and data processing entity).
      operationId: clone_junction_length
      tags:
        - clones
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token: 
                  type: string
                repertoire_id:
                  type: string
                sample_processing_id:
                  type: string
                  nullable: true
                data_processing_id:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/responses/count_array_response'
        default:
          description: Error response.
          content: 
            application/json:
              schema:
                $ref: '#/components/responses/error_response'

  /clone/gene_usage:
    post:
      description: >
        Perform a gene usage analysis for the clones that belong to the specified repertoire (and/or sample_processing and data_processing entity).
      operationId: clone_gene_usage
      tags:
        - clones
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token: 
                  type: string
                repertoire_id:
                  type: string
                sample_processing_id:
                  type: string
                  nullable: true
                data_processing_id:
                  type: string
                  nullable: true
                fields:
                  type: array
                  items:
                    type: string
                    enum:
                      - v_subgroup
                      - v_gene
                      - v_call
                      - d_subgroup
                      - d_gene
                      - d_call
                      - j_subgroup
                      - j_gene
                      - j_call
                      - c_subgroup
                      - c_gene
                      - c_call
                  description: The types of gene usage stats requested (one of V,D, or J subgroup, gene, or allele)
                  example:
                    - v_subgroup
                    - v_gene
                    - d_call
                    - c_call
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/responses/count_object_response'
        default:
          description: Error response.
          content: 
            application/json:
              schema:
                $ref: '#/components/responses/error_response'
